@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, #2432AC, #7737A8);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

body .card {
    width: 300px;
    height: 100%;
    border-radius: 10px;
    padding: 10px;
}

.card .card-body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card-body h2 {
    color: white;
    margin-bottom: 10px;
}

.card-body .error {
    width: 100%;
    border-radius: 4px;
    padding: 5px 3px;
    margin-bottom: 10px;
    background: rgb(248, 138, 138);
    color: white;
}

.card-body .message {
    width: 100%;
    border-radius: 4px;
    padding: 5px 3px;
    margin-bottom: 10px;
    background: rgb(38, 140, 38);
    color: white;
}

.card-body div, form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.card-body input {
    width: 100%;
    outline: none;
    height: 30px;
    padding: 20px 10px;
    box-shadow: 0px 5px 6px 0px rgba(34, 60, 80, 0.30);
    border: none;
    border-radius: 3px;
}

.card-body .forgot-password {
    color: white;
    padding: 10px 3px;
    font-size: 14px;
    margin: 10px 0 10px 0;
    text-align: right;
}

.card-body .btn {
    width: 40%;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0px 5px 6px 0px rgba(34, 60, 80, 0.30);
    background-color: #755EDC;
    border: none;
    color: white;
    border-radius: 20px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.card-body .out {
    width: 40%;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0px 5px 6px 0px rgba(34, 60, 80, 0.30);
    background-color: #755EDC;
    border: none;
    color: white;
    margin-top: 20px;
    border-radius: 20px;
}

.card-body .signup, a {
    color: white;
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
}

@media screen and (max-width: 400px) {
    body .card {
        width: 320px;
        height: auto;
    }
}

@media screen and (max-width: 310px) {
    body .card {
        width: 300px;
        height: auto;
    }
}